@import '../../styles/settings.scss';

.listForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.listFormText{
    margin: 0 10px 10px 20px;
}

@media (max-width: 767px) {
    .istForm{
        flex-direction: column;
    }

    .listFormText{
        margin: 20px 0 10px 0;
    }
}